/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 25, 2017, 2:41:05 PM
    Author     : nitin
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    width: 960px;
    position: relative;
    margin: auto;
}

.clearfix {
    clear: both;
}

ul {
    list-style: none;
}

/*======== header ========*/

header {
    width: 100%;
    padding: 20px 0;
}

header .logo {
    float: left;
}

header nav {
    float: right;
}

header nav ul li {
    display: inline-block;
    margin-top: 25px;
}

header nav ul li a {
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #333;
    font-family: tahoma;
}

header nav ul li a:hover, header nav .active a {
    color: #993404;
}

#menu{
    display: none;
}

#checkButton{
    display: none;
}

/*======== banner ========*/

.slider-controller {
    height: 350px;
    background: #333;
    padding: 20px 0;
    position: relative;
}

.arrow-controller {
    position: absolute;
    right: 0;
    top: 10px;
}

.arrow-controller .fa {
    padding: 5px;
}

.arrow-controller span {
    font-size: 14px;
    padding: 0;
    display: block;
    cursor: pointer;
    color: #fff;
    text-align: right;
    background: #333;
}

.arrow-controller span:hover {
    color: #993404;
}

.arrow-controller span .fa-arrow-down {
    margin-top: 233px;
    display: block;
}

.wrapper {
    position: relative;
}

.caption {
    width: 320px;
    height: 93.5%;
    background: rgba(0,0,0,.75);
    position: absolute;
    top: 10px;
    right: 25px;
    padding: 20px;
}

.caption h3 {
    font-size: 24px;
    font-family: georgia;
    font-weight: normal;
    color: #fff;
}

.caption p {
    font-size: 14px;
    color: #ccc;
    font-family: tahoma;
    font-weight: normal;
    line-height: 1.9;
    margin-top: 20px;
}

/*======= content ========*/

#content {
    padding: 20px 0;
}

#content .tabs {
    width: 27%;
    height: 250px;
    background: #f5f5f5;
    float: left;
    border: 1px solid #ccc;
}

#content .right {
    height: 250px;
    border: 1px solid #ccc;
}

#content .tabs li {
    display: block;
    padding: 2px 0;
    font-size: 17px;
    text-transform: uppercase;
    color: #993408;
    text-decoration: none;
    transition: all .5s;
}

#content .box {
    width: 23%;
    padding: 10px;
    float: left;
    margin-left: 12px;
}

#content .box h3 {
    font-size: 15px;
    font-family: georgia;
    color: #000;
    margin-top: 0px;
    font-weight: normal;
}

#content .box p {
    font-size: 13px;
    font-family: tahoma;
    color: #333;
    margin-top: 12px;
}

#content ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#content ul.tabs li{
    background: none;
    color: #222;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
}

#content ul.tabs li.current{
    background: #993404;
    color: #fff;
}

#content .tab-content{
    display: none;
    background: transparent;
    padding: 15px;
}

#content .tab-content.current{
    display: inherit;
}

/*======== fatfooter ========*/

#fatfooter {
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding: 20px 0;
}

#fatfooter .box {
    width: 23%;
    height: auto;
    float: left;
    margin-right: 19px;
}

#fatfooter .box .fa {
    font-size: 24px;
    padding-right: 10px;
    vertical-align: middle;
}

#fatfooter .box h3 {
    font-size: 15px;
    color: #888;
    font-family: tahoma;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 8px;
    font-weight: normal;
    border-bottom: 1px dashed #888;
}

#fatfooter .box li {
    margin-bottom: 10px;
}

#fatfooter .box li a {
    font-family: tahoma;
    color: #888;
    text-decoration: none;
    font-size: 13px;
}

#fatfooter .box li a:hover {
    color: #993408;
}

/*======== footer ========*/

footer {
    width: 100%;
    padding: 20px 0;
}

footer nav {
    float: left;
}

footer nav li {
    display: inline-block;
}

footer nav li a {
    padding: 0 12px 0 0;
    text-decoration: none;
    font-family: tahoma;
    font-size: 13px;
    color: #666;
}

footer nav li a:hover {
    color: #993408;
}

footer .footer-logo {
    float: right;
}

footer p {
    font-size: 13px;
    font-family: tahoma;
    color: #999;
    margin-top: -38px;
}

@media screen and (max-width: 768px) {
    .desktopNav{
        position: absolute;
        background: #f5f5f5;
        top: 80px;
        width: 80%;
        transform: translateX(-100%);
        left: 0;
        z-index: 999;
    }

    .animate{
        transition: transform .5s;
    }

    header nav ul li {
        display: block;
        margin-top: 5px;
    }

    header nav ul li a {
        display: block;
        padding-left: 20px;
    }

    .desktopNav li a:hover{
        background: #ccc;
    }

    nav{
        float: left;
    }

    #menu{
        display: block;
        padding: 9px;
        background: #993404;
        color: #fff;
        cursor: pointer;
        margin-top: 20px;
    }

    #checkButton:checked ~ .desktopNav{
        transform: translateX(0);
    }

}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .caption {
        width: 320px;
        height: 30%;
        margin: auto;
        text-align: center;
        margin-top: 100px;
    }

    .caption p {
        display: none;
    }

    #content .tabs {
        width: 100%;
        height: 150px;
    }

    #content .right {
        width: 100%;

    }

    #content .box {
        width: 100%;
        height: 230px;
        margin-left: 0;
        margin-top: 20px;
    }

    #content .right {
        height: auto;
    }

    #fatfooter .box {
        width: 44%;
        margin-top: 20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    #content .tabs {
        width: 100%;
        height: 150px;
    }

    #content .box {
        width: 33%;
        height: 230px;
        margin-left: 0;
        margin-top: 20px;
    }

    #content .right {
        height: 440px;
    }

    #fatfooter .box {
        width: 40%;
        margin-top: 20px;
    }
}
